*.pyc
profiles/*.pyc
*~
*.py~
*.lo
*.o
*.Plo


Debug/
.idea/
*.sdf
*.sln
.vs/
*.opensdf
*.vcxproj
*.vcxproj.filters
*.opendb
*.db
*.log

src/perfbench
src/.idea/
docs/

CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake_install.cmake

libcrafter/
libfluid_base-modded/
libfluid_msg/
tclap/

perfbench
perfbench.cbp
